<section class="container">
    <header class="page-header">
        <h1>HTTP 404 <small>File Not Found</small></h1>
    </header>
    <div class="row">
        <div class="col-md-12">
            <p>
                Sorry, but the page you're looking for doesn't seem to exist.
                Perhaps there is a broken link, or maybe the server is acting up again.
            </p>
            <p>
                In any case, you should be able to find what you're looking for using
                the navigation bar above.
            </p>
        </div>
    </div>
</section>
