<section class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>HTTP 404 <small>File Not Found</small></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>
      Sorry, but the page you're looking for doesn't seem to exist.
      Perhaps there is a broken link, or maybe the server is acting up.
      </p>
      <p>
      Try going back to <a href="/">the start</a>.
      </p>
    </div>
  </div>
</section>
