<section class="container">
  <div class="row">
    <div class="col-md-12 manpage">
      <h1>mattpatt(1)</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 manpage">
      <p class="lead">Name</p>
      <p>
        Matthew Patterson - A software engineer in Chicago
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 manpage">
      <p class="lead">Synopsis</p>
      <ul>
        <li>Senior Software Engineer at GitHub</li>
        <li>Former Engineering Manager at Braintree</li>
        <li>Experienced with Ruby, PHP, and other languages</li>
        <li>B.S.B.A. in Accounting from the University of Central Florida</li>
        <li>Hobbies include fitness, travel, hiking, bouldering, studying acting and improv</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 manpage">
      <p class="lead">Contents</p>
      <ol>
        <li><a href="#work-experience">Work Experience</a></li>
        <li><a href="#volunteer-experience">Volunteer Experience</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#causes">Causes I Support</a></li>
        <li><a href="#contact">Contact Me</a></li>
        <li><a href="#see-also">See Also</a></li>
      </ol>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 manpage">
      <p class="lead" id="work-experience">
      Work Experience
      <a href="#" class="top-link"><span class="glyphicon glyphicon-chevron-up"></span> Top</a>
      </p>
      <ul>
        <li><strong>GitHub</strong>
          <small>2017 to present</small><br>
          Senior Software Engineer<br>
          <ul>
            <li>Doing awesome work on payments and billing; watch this space!</li>
            <li>Technologies: Ruby on Rails, MySQL, Docker</li>
          </ul>
        </li>

        <li><strong>Braintree Payments</strong>
          <small>2014 to 2017</small><br>
          Engineering Manager, Technical Lead<br>
          <ul>
            <li>Engineering Manager for disputes engineering team; notable accomplishments include:
              <ul class="no-margin">
                <li>Integrations with Australian, European acquiring banks to provide dispute management to merchants in those regions</li>
                <li>API for dispute management</li>
                <li>Extracted dispute data, functionality from a Rails monolith to an independent service</li>
                <li>Upgraded integrations with existing acquiring banks</li>
              </ul>
            </li>
            <li>Managed 8 software engineers of all experience levels</li>
            <li>Worked with product management to define a roadmap to deliver merchant and technical value simultaneously</li>
            <li>Provided feedback, coaching, and mentoring for engineers</li>
            <li>Organized an internal, multi-office conference for Braintree and Venmo product teams</li>
            <li>Technologies: Ruby on Rails, PostgreSQL, Kafka, Puppet, Terraform, Docker, AWS</li>
          </ul>
        </li>

        <li><strong>BookIt.com</strong>
          <small>2012 to 2014</small><br>
          Scrum Master, Team Lead, Software Developer<br>
          <ul>
            <li>Lead a team of 9 developers and software testers</li>
            <li>Implemented multiple payment platforms and ensured security of PCI cardholder data</li>
            <li>Developed double-entry ledger for revenue reporting</li>
            <li>Developed rules-based cancellation and refund system</li>
            <li>Added internationalization and multi-currency support</li>
            <li>Implemented Jenkins for continues integration</li>
            <li>Technologies: PHP, Symfony, Doctrine, MySQL, JavaScript, ActiveMQ</li>
          </ul>
        </li>

        <li><strong>Florida Department of Transportation</strong>
          <small>2010 to 2012</small><br>
          Operations Accountant<br>
          <ul>
            <li>Supervised 6 employees in revenue recovery program</li>
            <li>Prepared monthly reconciliations of deposit accounts</li>
            <li>Performed quality assurance on monthly traffic and revenue reports</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 manpage">
      <p class="lead" id="volunteer-experience">
      Volunteer Experience
      <a href="#" class="top-link"><span class="glyphicon glyphicon-chevron-up"></span> Top</a>
      </p>
      <ul>
        <li><strong>Florida Collegiate Pride Coalition</strong>
          <small>2011 to 2013</small><br>
          Executive Director, Board of Directors Chairperson</br>
          <ul>
            <li>Wrote the organization's bylaws and numerous amendments to them</li>
            <li>Supervised all operations and activities of the organization</li>
            <li>Maintained all of the organization's financial, membership, and corporate records</li>
            <li>Served on the Board of Directors, including in leadership positions</li>
          </ul>
        </li>

        <li><strong>Orlando 2018 - Bid to Bring the Gay Games to Orlando</strong>
          <small>2012 to 2013</small><br>
          Director of Technology</br>
          <ul>
            <li>Served on the Board of Directors for the Orlando bid committee</li>
            <li>Created the Information Systems Plan portion of the Orlando bid book</li>
            <li>Set up, configured, and maintained Amazon EC2, RDS, and ElastiCache</li>
            <li>Implemented Drupal content management system</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 manpage">
      <p class="lead" id="projects">
      Projects
      <a href="#" class="top-link"><span class="glyphicon glyphicon-chevron-up"></span> Top</a>
      </p>

      <p>My open source projects:</p>

      <ul>
        <li><a href="https://github.com/atmattpatt/dashboard"><strong>dashboard</strong></a>
          <small>My attempt at a heads-up display for my home</small></li>

        <li><a href="https://github.com/atmattpatt/dotfiles"><strong>dotfile</strong></a>
          <small>My dotfiles for Vim, Tmux, Zsh, etc.</small></li>

        <li><a href="https://github.com/atmattpatt/howard"><strong>howard</strong></a>
          <small>Ruby library for interacting with the CTA Train Tracker API</small></li>

        <li><a href="https://github.com/atmattpatt/mattpatt.io"><strong>mattpatt.io</strong></a>
          <small>You're looking at it</small></li>
      </ul>

      <p>Cool projects that I have contributed to:</p>

      <ul>
        <li><a href="http://search.cpan.org/~ecocode/Finance-Quote/lib/Finance/Quote.pm"><strong>Finance::Quote</strong></a>
          <small>Perl module for getting stock and mutual fund quotes</small></li>

        <li><a href="https://github.com/github/scientist"><strong>Scientist</strong></a>
          <small>Ruby library for carefully refactoring critical paths</small></li>

        <li><a href="https://github.com/jeremytregunna/ruby-trello"><strong>ruby-trello</strong></a>
          <small>Ruby library for interacting with the Trello API</small></li>

        <li><a href="https://github.com/mileszs/wicked_pdf"><strong>wicked_pdf</strong></a>
          <small>Ruby library for generating PDF files from HTML</small></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 manpage">
      <p class="lead" id="causes">
      Causes I Support
      <a href="#" class="top-link"><span class="glyphicon glyphicon-chevron-up"></span> Top</a>
      </p>
      <ul>
        <li><a href="https://activetrans.org">Active Transportation Alliance</a></li>
        <li><a href="https://aclu.org">American Civil Liberties Union</a></li>
        <li><a href="https://afsp.org">American Foundation for Suicide Prevention</a></li>
        <li><a href="https://wbez.org">Chicago Public Radio</a></li>
        <li><a href="https://eff.org">Electronic Frontier Foundation</a></li>
        <li><a href="https://everytown.org">Everytown for Gun Safety</a></li>
        <li><a href="https://ffrf.org">Freedom From Religion Foundation</a></li>
        <li><a href="https://heartlandalliance.org">Heartland Alliance</a></li>
        <li><a href="https://hrc.org">Human Rights Campaign</a></li>
        <li><a href="https://lambdalegal.org">Lambda Legal</a></li>
        <li><a href="https://www.mozilla.org/en-US/foundation/">Mozilla Foundation</a></li>
        <li><a href="https://nrdc.org">Natural Resources Defense Council</a></li>
        <li><a href="https://norml.org">NORML</a></li>
        <li><a href="https://plannedparenthood.org">Planned Parenthood</a></li>
        <li><a href="https://pridefund.org">Pride Fund to End Gun Violence</a></li>
        <li><a href="https://thetrevorproject.org">The Trevor Project</a></li>
        <li><a href="https://wikimediafoundation.org">Wikimedia Foundation</a></li>
        <li><a href="http://youcanplayproject.org">You Can Play Project</a></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 manpage">
      <p class="lead" id="contact">
      Contact Me
      <a href="#" class="top-link"><span class="glyphicon glyphicon-chevron-up"></span> Top</a>
      </p>
      <p>
      Email: <a href="mailto:matthew.s.patterson@gmail.com">matthew.s.patterson@gmail.com</a>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 manpage">
      <p class="lead" id="see-also">
      See Also
      <a href="#" class="top-link"><span class="glyphicon glyphicon-chevron-up"></span> Top</a>
      </p>
      <ul>
        <li><a href="https://github.com/atmattpatt">GitHub</a></li>
        <li><a href="https://www.linkedin.com/in/matthewspatterson">LinkedIn</a></li>
        <li><a href="https://twitter.com/mattpattwasat">Twitter</a></li>
        <li><a href="https://pgp.mit.edu/pks/lookup?op=vindex&search=0x8D3CD7A7A8C3E264">GPG Public Key</a></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 manpage">
      <p class="copyright">Copyright &copy; 2013-2019 Matthew Patterson. All Rights Reserved.</p>
    </div>
  </div>
</section>
