<section class="container">
    <header class="page-header">
        <h1>About This Site <kbd class="trmlike">:~$ man thatmattpattis.at</kbd></h1>
    </header>
    <div class="row">
        <div class="col-md-12">
            <p class="lead">
                I am a big believer in the power of free and open-source software.  I'm also a big believer in helping
                others learn about software and technology.  So, it only makes sense that I tell you a little bit about
                how this website works.
            </p>
            <p>
                Technologies used include:
            </p>
            <ul>
                <li><a href="http://www.sinatrarb.com">Sinatra</a>, with the <a href="http://code.macournoyer.com/thin">Thin</a> web server</li>
                <li><a href="https://github.com/jimweirich/rake">Rake</a> for build automation and <a href="http://bundler.io">Bundler</a> for dependency management</li>
                <li><a href="http://getbootstrap.com">Twitter Bootstrap</a> because visual design is hard (at least for me)</li>
            </ul>
            <p>
                Of course, you can view the entire source <a href="https://github.com/atmattpatt/mattpatt.io">on GitHub</a>.
                While you're there, feel free to check out some of my <a href="https://github.com/atmattpatt">other projects</a>.
            </p>
        </div>
    </div>
</section>
