{% extends "layout.twig" %}
{% block title %}About Me - {% endblock %}
{% block body %}
<section class="container">
    <header class="page-header">
        <h1>Hi, I'm Matt <small>It's Nice to Meet You :-)</small></h1>
    </header>
    <div class="row">
        <div class="col-md-12">
            <p class="lead">
                I'm a software developer living in Orlando, FL.  Originally from Erie, PA I am an alumnus of the
                University of Central Florida with a degree in Accounting.
            </p>
            <h2>The Software Engineer</h2>
            <p>
                In one way or another, I've been working with the web since early in my childhood &mdash; I have vague
                memories of writing HTML as early as the fifth grade.  I have developed in PHP since Version 4 and it
                continues to be my language of choice for scripting, websites, and many other projects.  Of course, I
                develop extensively in PHP in my current job as well.  I work extensively with JavaScript and, more
                recently, have begun using CoffeeScript.  I have also done some work in C, C++, Java, C#, VBScript,
                and Bash.
            </p>
            <p>
                To me, software engineering is as much a craft as it is a science.  I am a strong supporter of
                object-oriented design for this reason.  I am also a proponent of automated testing &mdash; unit
                testing, functional testing, and acceptance testing &mdash; as well as test-driven development.
            </p>
            <h2>The LGBT Activist</h2>
            <p>
                By the start of my first semester at the University of Central Florida, I wasn't even really sure of how
                I identified myself.  But that changed quickly as I became involved with the Gay, Lesbian, Bisexual
                Student Union (now called &quot;Equal&quot;), at first working on their website and eventually working
                my way up to President of the organization.
            </p>
            <p>
                In 2008, I had the privilege of attending the annual Florida Collegiate Pride Coalition Conference at
                the University of Miami in Coral Gables, FL.  By the end of the three-day conference, I was convinced
                that I wanted to bring the event to UCF.  Two years later, not only was that goal realized, but the
                students attending committed to building up the previously-static coalition into an active statewide
                network of LGBT students.  From 2011 to 2013, I served as the Executive Director of the coalition,
                helping to establish a long-term strategy and path for growth.
            </p>
            <p>
                Sometimes, we are lucky enough to get the best of both worlds.  In late 2012, I was tapped to be the
                Director of Technology for Orlando 2018 - The Bid to Bring the Gay Games to Orlando, along with it's
                sister campaign, Bench the Hate.  In the end, Orlando's bid was not successful; but I was thankful to
                work with a number of the city's most prominent (and powerful) LGBT organizers.
            </p>
            <p>
                Oh, for the record, I identify as a gay male and prefer masculine pronouns (e.g. he, his, him).
            </p>
            <h2>The Human</h2>
            <p>
                When I'm not at work or writing code for the fun of it, you will usually find me...
            </p>
        </div>
    </div>
</section>
{% endblock %}