{% extends "layout.twig" %}
{% block title %}About Me - {% endblock %}
{% block body %}
<section class="container">
    <header class="page-header">
        <h1>Hi, I'm Matt <small>It's Nice to Meet You :-)</small></h1>
    </header>
    <div class="row">
        <div class="col-md-12">
            <p class="lead">
                I'm a software developer living in Orlando, Florida.
                I have a degree in Accounting from the University of Central Florida.
            </p>
            <h2>The Software Engineer</h2>
            <p>
                I specialize in PHP for application development, using JavaScript and CoffeeScript on the browser-side,
                as needed.  And I also know some other languages:  C, C++, Java, VisualBasic, and Bash.
            </p>
            <p>
                My code is my craft.  I strive to develop highly modular, easily maintainable, and thoroughly tested
                software by following design patterns and best practices, and by worshiping at the altar of unit testing.
            </p>
            <h2>The LGBT Activist</h2>
            <p>
                Throughout my college career, I was heavily involved with Equal at UCF, a student organization for gay,
                lesbian, bisexual, and transgender students.  By my senior year, I was the president.
            </p>
            <p>
                I helped to organize the Florida Collegiate Pride Coalition, a state-wide non profit coalition of LGBTQ
                college students.  I served as the Executive Director during the corporation's first years, from 2011 to
                2013.
            </p>
            <p>
                In 2012, I was tapped to be the Director of Technology for Orlando 2018, the bid to bring the Gay Games
                to Orlando, along with its sister campaign, Bench the Hate.  While Orlando's bid was not successful, I
                had the honor of working with some of the city's most prominent LGBTQ organizers.
            </p>
            <h2>The Human</h2>
            <p>
                When I'm not sitting in front of a computer, I am probably watching one of my favorite television
                series.  You might also catch me playing my keyboard, though I'm still learning, or I might be out on my
                bike or at the gym.
            </p>
            <p>
                My favorite sport is hockey, but I don't get to watch it as often as I'd like here in Florida.  My teams
                are the Pittsburgh Penguins, the Tampa Bay Lightning, and the Chicago Blackhawks.
            </p>
        </div>
    </div>
</section>
{% endblock %}