{% extends "layout.twig" %}
{% block title %}About Me - {% endblock %}
{% block body %}
<section class="container">
    <header class="page-header">
        <h1>About Me <kbd class="manpage">:~$ whoami</kbd></h1>
    </header>
    <div class="row">
        <div class="col-md-12">
            <p class="lead">
                Lorem ipsum dolor sit amet...
            </p>
            <h2>The Software Engineer</h2>
            <p>
                Lorem ipsum dolor sit amet...
            </p>
            <h2>The LGBT Activist</h2>
            <p>
                Lorem ipsum dolor sit amet...
            </p>
            <h2>The Human</h2>
            <p>
                Lorem ipsum dolor sit amet...
            </p>
        </div>
    </div>
</section>
{% endblock %}