{% extends "layout.twig" %}
{% block title %}Contact Me - {% endblock %}
{% block body %}
<section class="container">
    <header class="page-header">
        <h1>Contact Me</h1>
    </header>
    <div class="row">
        <div class="col-md-12">
            <iframe id="contact-form" src="https://docs.google.com/forms/d/1YHniCeZSiQUTUcgGUvpjNWR0qv4VNjM_JldY5KLR-C4/viewform"></iframe>
        </div>
    </div>
</section>
{% endblock %}