{% extends "layout.twig" %}
{% block title %}About This Site - {% endblock %}
{% block body %}
<section class="container">
    <header class="page-header">
        <h1>About This Site <small></small></h1>
    </header>
    <div class="row">
        <div class="col-md-12">
            <p class="lead">
                Lorem ipsum dolor sit amet...
            </p>
        </div>
    </div>
</section>
{% endblock %}
