{% extends "layout.twig" %}
{% block title %}About This Site - {% endblock %}
{% block body %}
<section class="container">
    <header class="page-header">
        <h1>About This Site <kbd class="trmlike">:~$ man thatmattpattis.at</kbd></h1>
    </header>
    <div class="row">
        <div class="col-md-12">
            <p class="lead">
                I am a big believer in the power of free and open-source software.  I'm also a big believer in helping
                others learn about software and technology.  So, it only makes sense that I tell you a little bit about
                how this website works.
            </p>
            <ul>
                <li><a href="http://php.net">PHP</a> 5.5 is used to compile templates into static HTML files (but you
                    could probably do it with as low as PHP 5.3)</li>
                <li>The templates ...
                <ul>
                    <li>... are built and compiled with <a href="http://twig.sensiolabs.org">Twig</a></li>
                    <li>... are valid HTML 5</li>
                    <li>... use <a href="http://lesscss.org">LESS</a> to generate valid CSS</li>
                    <li>... are built on top of <a href="http://getbootstrap.com">Twitter Bootstrap</a> using responsive
                        design principles</li>
                </ul></li>
                <li><a href="http://getcomposer.org">Composer</a> is used for dependency management (mainly Twig)</li>
                <li>The build process is completed by <a href="http://ant.apache.org">Apache Ant</a></li>
                <li>Static files are served up with <a href="http://nginx.org">nginx</a></li>
            </ul>
            <p>
                Of course, you can view the entire source <a href="https://github.com/matthewpatterson/thatmattpattis.at">on GitHub</a>.
                While you're there, feel free to check out some of my <a href="https://github.com/matthewpatterson">other projects</a>;
                you can follow me or even fork a repo or two!
            </p>
        </div>
    </div>
</section>
{% endblock %}
